.nav{
  background-color: black;
  color: white;
  display: flex;
  align-items: baseline; 
  justify-content: space-between;
  padding: 0 150px;
}


.nav a{
  text-decoration: none;
  color: white;
  margin: 0 1.5rem;
}